<div class="flex-container">
  <div class="flex-column">
    <div class="flex-row center">
      <button mat-icon-button aria-label="reset button" (click)="reset()" [disabled]="resetDisabled">
        <app-message-receiving-indicator></app-message-receiving-indicator>
      </button>
    </div>

    <div class="flex-row center">
      <button mat-flat-button color="primary" (click)="start()" [disabled]="startDisabled">Start</button>
      <button mat-flat-button color="primary" (click)="stop()" [disabled]="stopDisabled"
        style="margin-left: 8px;">Stop</button>
    </div>
  </div>
</div>