/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

.app-container {
  background-color: #191919;
}

.flex-row {
  display: flex; flex-direction: row;
}

.flex-row.center{
  justify-content: center;
}